{% load static %}

{% block title %}
<title>Sign Up</title>
<link rel="stylesheet" href="{% static 'regular/css/form.css' %}">
<link rel="stylesheet" href="{% static 'regular/css/mainPage.css' %}">
{% endblock %}

{% block content %}
<body style="overflow-y: auto; overflow-x: hide;">
<div id="background-text" style="transform: translate(-50%, -160%);">
    <div id="main-text">SIMPLESTOCK</div>
    <div id="sub-text">FIND ANYTHING YOU NEED</div>
</div>
<form method="post" style="width: 700px; margin-top: 100px;">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'login' %}">Already have an account?</a>
    <button type="Submit">Sign Up</button>
</form>
<script>
    let moveX = 0, moveY = 0;

    document.addEventListener("mousemove", (e) => {
        let { innerWidth, innerHeight } = window;
        moveX = (e.clientX / innerWidth) * 25;
        moveY = (e.clientY / innerHeight) * 25;
    });

    function updateBackground() {
        document.body.style.backgroundPosition = `${38 + moveX}% ${15 + moveY}%`;
        requestAnimationFrame(updateBackground);
    }

    updateBackground();
</script>
</body>
{% endblock %}