<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title></title>
    {% endblock %}
</head>
<body>
    <form action="{% url 'search' %}" method="get" id="search-form">
        <input type="text" name="q" id="search-input" placeholder="Search for products...">
        <button type="submit">Search</button>
    </form>
    <div id="suggestions"></div>

    <script src="{% static 'regular/js/searchEngine.js' %}"></script>
    {% block content %}
    {% endblock %}
</body>
</html>